.container {
    position: relative;
    height: 200px;
}

.box {
    width: 100%;
    height: 50%;
}

.white-block {
    position: absolute;
    z-index: 1;
    background: white;
    top: 0;
    left: 0;
}

.red-block {
    position: absolute;
    z-index: 2;
    background: red;
    bottom: 0;
    left: 0;
}

.orange-text {
    position: relative;
    z-index: 3;
    color: orange;
    text-align: center;
    line-height: 200px;
}