.container {background-color:black; color: lightgray; width: 350px; padding: 5px}
.box1 {background-color: red; color: black; height: 300px; width: 300px;}
.box2 {background-color: darkblue; color: black; height: 300px; width: 300px;}